@{
    ViewBag.Title = "Magnify Elshaddai - Fasting Prayer Documents";
}

@*Fasting Prayer Documents - Starts*@
@Html.Partial("_SideMenu")
<div class="container_display tab-pane" id="fastingPrayerDocuments">
    <h3 class="main-title">Fasting Prayer Documents</h3>
    
    <div class="tabdisplay">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading textStyle">31-Aug-2022</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-3">
                            <a href="../Documents/FastingPrayer/Fasting_Prayer_Documents_31_Aug_2022.rar" class="btn btn-info border border-primary">Fasting Prayer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabdisplay">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading textStyle">10-Jan-2021</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-3">
                            <a href="../Documents/FastingPrayer/Fasting_Prayer_Documents_10_Jan_2021.zip" class="btn btn-info border border-primary">Fasting Prayer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabdisplay">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading textStyle">09-Aug-2020</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-3">
                            <a href="../Documents/FastingPrayer/Fasting_Prayer_Documents_09_Aug_2020.zip" class="btn btn-info border border-primary">Fasting Prayer</a>
                        </div>
                        @*<div class="col-md-1 col-sm-1">&nbsp;</div>
                            <div class="col-md-5 col-sm-3">
                                <a href="../Documents/BIBLEWORKSHOP/Bible_Workshop_2_Trichy_Nov_2018.zip" class="btn btn-info border border-primary">Bible Workshop - II </a>
                            </div>
                            <div class="col-md-1 col-sm-1">&nbsp;</div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Fasting Prayer Documents - Ends*@
