@{
    ViewBag.Title = "Magnify Elshaddai - Bible Workshop Documents";
}

@Html.Partial("_SideMenu")
<div class="container_display tab-pane" id="bibleworkshop">
    <h3 class="main-title">Bible Workshop Documents</h3>
    <div class="tabdisplay">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading textStyle">2019</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-3">
                            <a href="../Documents/BIBLEWORKSHOP/Bible_Workshop_3_Elagiri_1_February_2019.zip" class="btn btn-info border border-primary">BIBLE WORKSHOP - III</a>
                        </div>
                        <div class="col-md-1 col-sm-1">&nbsp;</div>
                        <div class="col-md-6 col-sm-3">
                            <a href="../Documents/BIBLEWORKSHOP/Bible_Workshop_4_Psalms-Chennai.zip" class="btn btn-info border border-primary">BIBLE WORKSHOP - IV</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading textStyle">2018</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-3">
                            <a href="../Documents/BIBLEWORKSHOP/BIBLE_WORKSHOP_1_June_2018.zip" class="btn btn-info border border-primary">BIBLE WORKSHOP - I</a>
                        </div>
                        <div class="col-md-1 col-sm-1">&nbsp;</div>
                        <div class="col-md-5 col-sm-3">
                            <a href="../Documents/BIBLEWORKSHOP/Bible_Workshop_2_Trichy_Nov_2018.zip" class="btn btn-info border border-primary">Bible Workshop - II </a>
                        </div>
                        <div class="col-md-1 col-sm-1">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
