<div class="bible-chapters">
    <div class="bible-chapters-old">
        <div class="bible-title"> Old Testament - பழைய ஏற்பாடு</div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Genesis.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Genesis - ஆதியாகமம்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Exodus.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Exodus - யாத்திராகமம்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Leviticus.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Leviticus - லேவியராகமம்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Numbers.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Numbers - எண்ணாகமம்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/deuteronomy.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Deuteronomy - உபாகமம்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Joshua.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Joshua - யோசுவா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Judges.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Judges - நியாயாதிபதிகள்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Ruth.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Ruth - ரூத்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/1_samuel.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>1 Samuel - 1 சாமுவேல்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/2_Samuel.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>2 Samuel - 2 சாமுவேல்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/1_Kings.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>1 Kings - 1 இராஜாக்கள்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/2_kings.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>2 Kings - 2 இராஜாக்கள்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/1_Chronicles.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>1 Chronicles - 1 நாளாகமம்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/2_Chronicles.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>2 Chronicles - 2 நாளாகமம்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Ezra.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Ezra - எஸ்றா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Nehemiah.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Nehemiah - நெகேமியா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Esther.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Esther - எஸ்தர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Job.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Job - யோபு</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Psalms.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Psalms - சங்கீதம்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Proverbs.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Proverbs - நீதிமொழிகள்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Ecclesiastes.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Ecclesiastes - பிரசங்கி</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Song_Of_solomon.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p class="bible-single">Song of Solomon - உன்னதப்பாட்டு</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Isaiah.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Isaiah - ஏசாயா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Jeremiah.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Jeremiah - எரேமியா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Lamentations.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Lamentations - புலம்பல்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Ezekiel.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Ezekiel - எசேக்கியேல்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Daniel.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Daniel - தானியேல்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Hosea.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Hosea - ஓசியா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Joel.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Joel - யோவேல்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Amos.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Amos - ஆமோஸ்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Obadiah.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Obadiah - ஒபதியா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Jonah.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Jonah - யோனா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Micah.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Micah - மீகா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Nahum.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Nahum - நாகூம்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Habakkuk.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Habakkuk - ஆபகூக்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Zephaniah.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Zephaniah - செப்பனியா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Haggai.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Haggai - ஆகாய்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Zechariah.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Zechariah - சகரியா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Malachi.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Malachi - மல்கியா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Book_of_wisdom.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Wisdom - ஞான ஆகமம்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/Old_Testament/Eclesiasticus_or_Sirach.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p class="bible-single">Ecclesiasticus / sirach - சீராக் ஆகமம்</p>
                </div>
            </a>
        </div>
    </div>

    <div class="bible-chapters-new chapternew">
        <div class="bible-title"> New Testament - புதிய ஏற்பாடு</div>
        <br />
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Matthew.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Matthew - மத்தேயு</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Mark.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Mark - மாற்கு</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Luke.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Luke - லூக்கா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/John.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>John - யோவான்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Acts.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p class="bible-double">Acts - அப்போஸ்தலருடைய  நடபடிகள்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Romans.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Romans - ரோமர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/1_Corinthians.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p class="bible-single">1 Corinthians - 1 கொரிந்தியர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/2_Corinthians.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p class="bible-single">2 Corinthians - 2 கொரிந்தியர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Galatians.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Galatians - கலாத்தியர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Ephesians.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Ephesians - எபேசியர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Philippians.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Philippians - பிலிப்பியர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Colossians.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p class="bible-single">Colossians - கொலோசெயர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/1_Thessalonians.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p class="bible-single">1 Thessalonians - 1 தெசலோனிக்கேயர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/2_Thessalonians.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p class="bible-single">2 Thessalonians - 2 தெசலோனிக்கேயர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/1_Timothy.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>1 Timothy - 1 தீமோத்தேயு</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/2_Timothy.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>2 Timothy - 2 தீமோத்தேயு</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Titus.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Titus - தீத்து</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Philemon.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Philemon - பிலேமோன்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Hebrews.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Hebrews - எபிரெயர்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/James.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>James - யாக்கோபு</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/1_Peter.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>1 Peter - 1 பேதுரு</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/2_Peter.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>2 Peter - 2 பேதுரு</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/1_John.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>1 John - 1 யோவான்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/2_John.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>2 John - 2 யோவான்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/3_John.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>3 John - 3 யோவான்</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="#" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p>Jude - யூதா</p>
                </div>
            </a>
        </div>
        <div class="bible-columns">
            <a href="~/Documents/Bible/New_Testament/Revelation.pdf" target="_blank">
                <div class="card">
                    <div class="card-body">
                        <img class="imageStyle" src="~/Images/bible_img.jpg" />
                    </div>
                    <p class="bible-double">Revelation - வெளிப்படுத்தின  விசேஷம்</p>
                </div>
            </a>
        </div>


    </div>
</div>
