@model Magnifyelshaddai.Models.DocumentView
@using Magnifyelshaddai.Models

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_SideMenu")
<div class="container_display">
    @Html.Partial("_Bible")
</div>