@{
    ViewBag.Title = "Magnify Elshaddai - Evangelical Events";
}

@Html.Partial("_SideMenu")

<div class="container_display sinai_letter">
    <div class="navbar-collapse sinai_letters">
        <h2 class="main-title m-0">Evangelical Events</h2>
        <div class="row">
            <div class="col-12 text-center">
                <p class="my-5 mr-5" style="line-height: 2; text-align: justify;">
                    Dear Brothers in Christ, </br>We are the chosen group of boys with the Grace of the Lord, spreading the Word of GOD in the Catholic Church. Our spiritual focus is to <strong>Teach the Bible</strong> to the catholic community across India. Here we show our Evangelical Proceedings and various Biblical Workshop Events photos in different Catholic Churches for your kind reference. We are Bible Beggars to collect various Bibles and spread them to every human being in this world to provide awareness about the Greater light of the Bible for a successful Spiritual life with the help of the Holy Spirit and Mother Virgin Mary. <i>Glory to the MOTHER of Incarnate WORD. Amen.</i>
                </p>
                <div style="border-top:1px solid #cccccc" class="mb-2"></div>
                <p style="line-height: 2;">
                    <strong>சங்கீதம்  1</strong>
                </br>
1: துன்மார்க்கருடைய ஆலோசனையில் நடவாமலும், பாவிகளுடைய வழியில் நில்லாமலும், பரியாசக்காரர் உட்காரும் இடத்தில் உட்காராமலும்,
                </br>
Blessed is the man Who walks not in the counsel of the ungodly, Nor stands in the path of sinners, Nor sits in the seat of the scornful;
                </br>
2: <strong>கர்த்தருடைய வேதத்தில் பிரியமாயிருந்து, இரவும் பகலும் அவருடைய வேதத்தில் தியானமாயிருக்கிற மனுஷன் பாக்கியவான்.
                </br>
But his delight is in the law of the LORD, And in His law he meditates day and night.</strong>
                </p>
            </div>
        </div>
        <div class="sinai_images_popup"></div>
        <div id="accordion">
            <div class="card cardBg sinai_letters">
                <div class="card-header" id="heading-3">
                    <h5 class="my-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                            <i class="fa fa-caret-right mr-1"></i>2023
                        </a>
                    </h5>
                </div>
                <div id="collapse-3" class="collapse show" data-parent="#accordion" aria-labelledby="heading-3">
                    <div class="card-body">
                        <div id="accordion-3">
                            <div class="subCard">
                                <div class="card-header" id="heading-3-2">
                                    <h5 class="my-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-2" aria-expanded="false" aria-controls="collapse-3-2">
                                            <i class="fa fa-caret-right mr-1"></i>தவக்கால ஆவிக்குரிய தியான கூடுகை, முள்ளிப்பாடி (திண்டுக்கல்).
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-3-2" class="collapse" data-parent="#accordion-3" aria-labelledby="heading-3-2">
                                    <div class="sub-card-body">
                                        <div class="sinai_images">
                                            @foreach (var file in ViewBag.images8)
                                            { 
                                                <div class="sinai_images_img">
                                                    <a class="elem" href="/Evangelical Events/2023/Dindigul Mullipadi Prayer/@Path.GetFileName(file)" data-lcl-thumb="/Evangelical Events/2023/Dindigul Mullipadi Prayer/@Path.GetFileName(file)">
                                                        <span style="background-image: url('/Evangelical Events/2023/Dindigul Mullipadi Prayer/@Path.GetFileName(file)');"></span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="subCard">
                                <div class="card-header" id="heading-3-1">
                                    <h5 class="my-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3-1" aria-expanded="false" aria-controls="collapse-3-1">
                                            <i class="fa fa-caret-right mr-1"></i>4 <sup>வது</sup> மாநில அளவிலான இளைஞர் ஜெப மாநாடு (Mercy), திருநெல்வேலி.
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-3-1" class="collapse" data-parent="#accordion-3" aria-labelledby="heading-3-1">
                                    <div class="sub-card-body">
                                        <div class="sinai_images">
                                            @foreach (var file in ViewBag.images7)
                                            { 
                                                <div class="sinai_images_img">
                                                    <a class="elem" href="/Evangelical Events/2023/Mercy 2023/@Path.GetFileName(file)" data-lcl-thumb="/Evangelical Events/2023/Mercy 2023/@Path.GetFileName(file)">
                                                        <span style="background-image: url('/Evangelical Events/2023/Mercy 2023/@Path.GetFileName(file)');"></span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card cardBg sinai_letters">
                <div class="card-header" id="heading-2">
                    <h5 class="my-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                            <i class="fa fa-caret-right mr-1"></i>2022
                        </a>
                    </h5>
                </div>
                <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                    <div class="card-body">
                        <div id="accordion-2">
                            <div class="subCard">
                                <div class="card-header" id="heading-2-1">
                                    <h5 class="my-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                                            <i class="fa fa-caret-right mr-1"></i>Aathukudi - Prayer
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-2-1" class="collapse" data-parent="#accordion-2" aria-labelledby="heading-2-1">
                                    <div class="sub-card-body">
                                        <div class="sinai_images">
                                            @foreach (var file in ViewBag.images3)
                                            { 
                                                <div class="sinai_images_img">

                                                    <a class="elem" href="/Evangelical Events/2022/Athukudi Prayer/@Path.GetFileName(file)" data-lcl-thumb="/Evangelical Events/2022/Athukudi Prayer/@Path.GetFileName(file)">
                                                        <span style="background-image: url('/Evangelical Events/2022/Athukudi Prayer/@Path.GetFileName(file)');"></span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="subCard">
                                <div class="card-header" id="heading-2-2">
                                    <h5 class="my-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                                            <i class="fa fa-caret-right mr-1"></i>Medavakkam - Bible Expo
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-2-2" class="collapse" data-parent="#accordion-2" aria-labelledby="heading-2-2">
                                    <div class="sub-card-body">
                                        <div class="sinai_images">
                                            @foreach (var file in ViewBag.images4)
                                            { 
                                                <div class="sinai_images_img">
                                                    <a class="elem" href="/Evangelical Events/2022/Medavakkam Bible Expo/@Path.GetFileName(file)" data-lcl-thumb="/Evangelical Events/2022/Medavakkam Bible Expo/@Path.GetFileName(file)">
                                                        <span style="background-image: url('/Evangelical Events/2022/Medavakkam Bible Expo/@Path.GetFileName(file)');"></span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="subCard">
                                <div class="card-header" id="heading-2-3">
                                    <h5 class="my-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                                            <i class="fa fa-caret-right mr-1"></i>திருவருகைக் காலத்தின் ஆவிக்குரிய தியான கூடுகை, பெருங்குடி.
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-2-3" class="collapse" data-parent="#accordion-2" aria-labelledby="heading-2-3">
                                    <div class="sub-card-body">
                                        <div class="sinai_images">
                                            @foreach (var file in ViewBag.images5)
                                            { 
                                                <div class="sinai_images_img">
                                                    <a class="elem" href="/Evangelical Events/2022/Perungudi Church Prayer/@Path.GetFileName(file)" data-lcl-thumb="/Evangelical Events/2022/Perungudi Church Prayer/@Path.GetFileName(file)">
                                                        <span style="background-image: url('/Evangelical Events/2022/Perungudi Church Prayer/@Path.GetFileName(file)');"></span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="subCard">
                                <div class="card-header" id="heading-2-4">
                                    <h5 class="my-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2-4" aria-expanded="false" aria-controls="collapse-2-4">
                                            <i class="fa fa-caret-right mr-1"></i>பரிசுத்த கன்னி மரியாள் பற்றிய ஒரு நாள் தியான கூடுகை, திருநெல்வேலி.
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-2-4" class="collapse" data-parent="#accordion-2" aria-labelledby="heading-2-4">
                                    <div class="sub-card-body">
                                        <div class="sinai_images">
                                            @foreach (var file in ViewBag.images6)
                                            { 
                                                <div class="sinai_images_img">
                                                    <a class="elem" href="/Evangelical Events/2022/Tirunelveli Retreat/@Path.GetFileName(file)" data-lcl-thumb="/Evangelical Events/2022/Tirunelveli Retreat/@Path.GetFileName(file)">
                                                        <span style="background-image: url('/Evangelical Events/2022/Tirunelveli Retreat/@Path.GetFileName(file)');"></span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card cardBg">
                <div class="card-header" id="heading-1">
                    <h5 class="my-0">
                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                            <i class="fa fa-caret-right mr-1"></i>2021
                        </a>
                    </h5>
                </div>
                <div id="collapse-1" class="collapse sinai_letters" data-parent="#accordion" aria-labelledby="heading-1">
                    <div class="card-body">
                        <div id="accordion-1">
                            <div class="subCard">
                                <div class="card-header" id="heading-1-1">
                                    <h5 class="my-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                            <i class="fa fa-caret-right mr-1"></i>முதல் கத்தோலிக்க தேவாலய வேதாகம நூலகம், திறப்பு விழா - பூந்தமல்லி.
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-1">
                                    <div class="sub-card-body">
                                        <div class="sinai_images">
                                            @foreach (var file in ViewBag.images1)
                                            { 
                                                <div class="sinai_images_img">
                                                    <a class="elem" href="/Evangelical Events/2021/Poonamallee Melma Nagar Library/@Path.GetFileName(file)" data-lcl-thumb="/Evangelical Events/2021/Poonamallee Melma Nagar Library/@Path.GetFileName(file)">
                                                        <span style="background-image: url('/Evangelical Events/2021/Poonamallee Melma Nagar Library/@Path.GetFileName(file)');"></span>
                                                    </a>

                                                </div>     
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="subCard">
                                <div class="card-header" id="heading-1-2">
                                    <h5 class="my-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                                            <i class="fa fa-caret-right mr-1"></i>வேதாகமத்தில் தாய் மரியாள், பூந்தமல்லி.
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-1-2" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-2">
                                    <div class="sub-card-body">
                                        <div class="sinai_images">
                                            @foreach (var file in ViewBag.images2)
                                            { 
                                                <div class="sinai_images_img">

                                                    <a class="elem" href="/Evangelical Events/2021/Poonamallee Melma Nagar Prayer/@Path.GetFileName(file)" data-lcl-thumb="/Evangelical Events/2021/Poonamallee Melma Nagar Prayer/@Path.GetFileName(file)">
                                                        <span style="background-image: url('/Evangelical Events/2021/Poonamallee Melma Nagar Prayer/@Path.GetFileName(file)');"></span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .my-0 > a {
        display: block;
        position: relative;
        color: #fff;
        font-size: 15px !important;
        font-weight: 700;
        padding-left: 5px;
        text-decoration: none;
    }

        .my-0 > a .fa-caret-right {
            transform: rotate(0deg);
            transition: .5s;
        }

        .my-0 > a[aria-expanded="true"] .fa-caret-right {
            transform: rotate(90deg);
            transition: .5s;
        }

    #accordion .card.cardBg {
        border: 1px solid #992e93;
        border-radius: 7px;
        margin-bottom: 5px;
    }

    #accordion .card .card-header {
        display: inline-block;
        width: 100%;
        background-color: #992e93;
        padding: 8px 3px;
        border-radius: 5px;
        text-align: left;
    }

    #accordion .card .subCard .card-header {
        display: inline-block;
        width: 100%;
        background-color: #2e4099;
        border-radius: 5px;
        text-align: left;
    }

    #accordion .card .card-body {
        width: 98%;
        margin: 10px auto;
    }

        #accordion .card .card-body .subCard {
            border: 1px solid #2e4099;
            border-radius: 7px;
            margin-bottom: 10px;
        }

            #accordion .card .card-body .subCard .sub-card-body {
                margin: 10px;
            }

    .fa-caret-right {
        margin-right: 10px;
    }

    .galaryImg {
        width: 560px !important;
        padding: 5px !important;
    }

    .elem, .elem * {
        box-sizing: border-box;
        margin: 0 !important;
    }

    .elem {
        display: inline-block;
        font-size: 0;
        width: 100%;
        border-bottom: none;
        background: #fff;
        height: 100%;
    }

        .elem > span {
            cursor: pointer;
            background-size: cover;
            background-position: center center;
            display: inline-block;
            width: 100%;
            height: 100%;
        }

    .lcl_fade_oc.lcl_pre_show #lcl_overlay,
    .lcl_fade_oc.lcl_pre_show #lcl_window,
    .lcl_fade_oc.lcl_is_closing #lcl_overlay,
    .lcl_fade_oc.lcl_is_closing #lcl_window {
        opacity: 0 !important;
    }

    .lcl_fade_oc.lcl_is_closing #lcl_overlay {
        -webkit-transition-delay: .15s !important;
        transition-delay: .15s !important;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="~/Elshaddai/js/light-box/lc_lightbox.lite.js" type="text/javascript"></script>
<script src="~/Elshaddai/js/light-box/alloy_finger.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="~/Elshaddai/css/light-box/lc_lightbox.css" />
<link rel="stylesheet" href="~/Elshaddai/css/light-box/minimal.css" />

<script>
    $(function () {
        $('.sinai_images_img').hover(function () {
            $(this).children('span').show();
        }, function () {
            $(this).children('span').hide();
        });


        $('.sinai_images_img img').click(function () {
            var img_url = $(this).attr('src');
            var display_popup = '<img src="' + img_url + '" />';
            $('.sinai_images_popup').html(display_popup);
        });

        //live handler
        lc_lightbox('.elem', {
            wrap_class: 'lcl_fade_oc',
            gallery: true,
            txt_toggle_cmd: false,
            thumbs_nav: false,
            download: true,
            skin: 'minimal',
            radius: 0,
            padding: 0,
            border_w: 0,
        });

    });
</script>

