<div class="fmg_elshaddai_possub mtp10px" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            @Html.ActionLink("Forgot Password", "ForgotPassword", "Authentication")
            @*<a href="#">Forgot Password</a>*@
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            @Html.ActionLink("Create New Account", "Register", "Authentication")
            @*<a href="#">Create New Account</a>*@
        </div>
    </div>
</div>
@*<div class="form-group mg_elshaddai_possub">
    <div class="row">
        <div class="col-md-12 text-center mtp10px">
            @Html.ActionLink("Create New Account", "Index", "Register")
        </div>
    </div>
</div>*@ 